/* 
Grids
12/1 = 12
12 / 2 = 6
12/3=4
12/4=3
12/6=2
12/12=1
5 +7 = 12
2 + 5 + 5 = 12
4 + 2 + 3 + 3 = 12

12 -> 100
?col -> ? 

Tamaños (Mediaqueries)
  xs    -   extrasmall    - 0                        -  479px     -    480res
  sm   -   small           - 480px (30em)     -  767px     -    800res
  md  -   medium       - 768px (48em)     -  991px     -    1024res
  lg    -   large            - 992px (62em)      -  1199px   -    1280res
  xl    -   extralarge     -+1200px (75em)                    -    >1281res

*/

html{
    box-sizing: border-box;
    font-size: 16px;

}

*,
*::after,
*::before{
    box-sizing: inherit;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 8.333333333333333%;
}

.col-2{
    width: 16.66666666666667%;
}

.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333333333%;
}

.col-5{
    width: 41.66666666666667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33333333333333%;
}

.col-8{
    width: 66.66666666666667%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33333333333333%;
}

.col-11{
    width: 91.66666666666667%;
}

.col-12{
    width: 100%;
}